<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Overlay</title>
    <link rel="stylesheet" href="../../assets/fonts.css">
    <link rel="stylesheet" href="../../assets/stylessheets/contact_edit_overlay.css">
</head>
<body>

    <div>
        <div class="overlay">

            <div class="content">
                <img src="/assets/img/join-logo-white.png" alt="">
                <h1>Edit Contact</h1>
            </div>

            <div class="contacts">
                <img class="contacts-img" src="/assets/img/profile-dummy.png" alt="">

                <form action="">
                    <div class="input-content">

                        <div class="input-name">
                            <input placeholder="Name" class="input-name-child" type="name" required autocomplete="on">
                            <img  src="/assets/img/name.png" alt="">
                        </div>

                        <div class="input-email">
                            <input placeholder="E-mail" class="input-email-child" type="email" required autocomplete="off">
                            <img src="/assets/img/umschlag.png" alt="">
                        </div>

                        <div class="input-phone">
                            <input placeholder="Phone" class="input-phone-child" type="tel" name="phone" required autocomplete="off">
                            <img src="/assets/img/phone.png" alt="">
                        </div>

                    </div>
                </form>

            </div>

            <div class="buttons">
                <!-- <button class="btn-one">Cancel</button> -->
                <button class="btn-two">Save</button>
            </div>

        </div>
    </div>
</body>
</html>