<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts.css">
    <link rel="stylesheet" href="../stylessheets/taskcard.css">
    <title>Taskcard</title>
</head>
<body>
    <div id="content">
        <div id="task-content">
            <div id="taskCardName">
                <span id="taskCardName-child">Sales</span>
            </div>
            <div id="taskCardTitle">
                <span id="taskCardDescription">Call potencial clients</span>
            </div>
    
            <span id="taskCardText">Make the product presentation to prospective buyers</span>
            <div id="taskDatecontent">
                <span class="taskFixText">Due Date:</span>
                <span id="taskDatecontent-child">05-08-2022</span>
            </div>
    
            <div id="taskPrioritycontent">
                <span class="taskFixText">Priority:</span>
                <select name="priority" id="taskPrioritycontent-child">
                    <option class="taskPrioritytext" value="low" typ="">Low </option> 
                    <option class="taskPrioritytext" value="medium">Medium </option>
                    <option class="taskPrioritytext" value="urgent">Urgent </option>
                </select>
               
            </div>
    
            <span class="taskAssignedText">Assigned To:</span>
    
            <div class="assignedUser">
                <div class="assignedUserName"> 
                    <span class="assignedUserName-child" id="assignedUserName-child_1">DE</span>
                </div>
                <span class="assignedUserNameText" id="assignedUserNameText_1"> David Eisenberg</span>
    
            </div>
    
            <div class="assignedUser">
                <div class="assignedUserName"> 
                    <span class="assignedUserName-child" id="assignedUserName-child_2">BZ</span>
                </div>
                <span class="assignedUserNameText" id="assignedUserNameText_2"> Benedikt Ziegler</span>
    
            </div>
    
            <div class="assignedUser">
                <div class="assignedUserName"> 
                    <span class="assignedUserName-child" id="assignedUserName-child_3">MB</span>
                </div>
                <span class="assignedUserNameText" id="assignedUserNameText_3"> Marcel Bauer</span>
    
            </div>
              
        </div>
    </div>
   
</body>
</html>